<script type="text/x-handlebars-template">
	<div id="modal_content" class="modal_content modal-dialog modal-lg" style="max-width:500px; width:100%;opacity: 1; margin:30px auto; padding: 25px 30px 0 30px;min-width:320px;" data-type="{{type}}" data-msg="{{msg}}" data-merchant="{{merchant}}" data-image="{{image_url}}" data-url="{{url}}">
		<div class="modal_header clearfix">
			<p>
				<a href="#">Join Our Affiliate Program</a>
			</p>
			<a href="javascript:void(0);" id="modal_close" data-dismiss="modal">Close<i>X</i></a>
		</div>
		<div class="row">
			<div class="col-sm-12">
				 <form role="form" action="https://us.locogram.com/contactus/apply" method="post">
  					<div class="form-group">
    					<input required="" type="text" name="data[name]" class="form-control" id="name" placeholder="Name">
  					</div>
					<div class="form-group">
   						 <input required="" type="email" class="form-control" name="data[email]" id="email" placeholder="Email">
 					 </div>
 					 <div class="form-group">
  						  <input type="phone" class="form-control" name="data[phone]" id="tel" placeholder="Phone">
 					 </div> 	
 					 <div class="form-group">
  						  <input required="" type="text" class="form-control" name="data[referred]" id="ref" placeholder="Referred by (e.g. Angela or N/A)">
 					 </div>				 
 					 <div class="form-group">
  						  <input type="text" class="form-control" name="data[blog]" id="blog" placeholder="Blog url">
 					 </div>
 					 <div class="form-group">
  						  <input type="text" class="form-control" name="data[facebook]" id="facebook" placeholder="Facebook">
 					 </div>
 					 <div class="form-group">
  						  <input type="text" class="form-control" name="data[instagram]" id="instagram" placeholder="Instagram">
 					 </div>
 					 <div class="form-group">
  						  <input type="text" class="form-control" name="data[pinterest]" id="pinterest" placeholder="Pinterest">
 					 </div>
 					 <div class="form-group">
  						  <input type="text" class="form-control" name="data[twitter]" id="twitter" placeholder="Twitter">
 					 </div>
 					 <div class="form-group">
 						<textarea required="" class="form-control" name="data[message]" placeholder="Message" ></textarea>
 					 </div>
					 <input type="hidden" value="{{url}}" name="data[url]" id="url">
				<input type="hidden" value="{{token}}" name="data[token]" id="token">
					 <div class="form-group">
  						<button type="submit" class="btn btn-default">Apply</button>
						<button type="reset" class="btn btn-default">Reset</button>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer" style="text-align:left; padding-left:0">
		</div>
	</div>
</script>